In [3]:
stars=['alderaan', 'arcturus', 'vega']

In [4]:
len(stars)

3

In [5]:
stars[2]

'vega'

In [6]:
stars[10]

IndexError: list index out of range

In [7]:
stars[-1]

'vega'

In [8]:
stars[:1]

['alderaan']

In [9]:
stars[:2]

['alderaan', 'arcturus']

In [10]:
stars[1:]

['arcturus', 'vega']

In [11]:
empty_list=[]

In [12]:
mix_list=[1, 'text']

In [14]:
planets=[['sol',2],['alpha centauri',3]]

In [15]:
planets[0]

['sol', 2]

In [16]:
planets[0][1]

2

In [17]:
stars

['alderaan', 'arcturus', 'vega']

In [18]:
stars.append('polar')

In [19]:
stars

['alderaan', 'arcturus', 'vega', 'polar']

In [20]:
stars.append('vega')

In [21]:
stars

['alderaan', 'arcturus', 'vega', 'polar', 'vega']

In [22]:
stars.remove('vega')
# se quita la primera

In [31]:
stars

['alderaan', 'arcturus', 'polar', 'vega']

In [32]:
stars.count('vega')

1

In [33]:
stars.append('vega')

In [34]:
stars

['alderaan', 'arcturus', 'polar', 'vega', 'vega']

In [35]:
stars.count('vega')

2

In [36]:
stars.index('polar')

2

In [37]:
stars.index('vega')
# sale la primera

3

In [38]:
stars.pop()

'vega'

In [39]:
stars

['alderaan', 'arcturus', 'polar', 'vega']

In [40]:
id(stars)

2370943456968

In [41]:
stars.append('alpha centauri')

In [42]:
stars

['alderaan', 'arcturus', 'polar', 'vega', 'alpha centauri']

In [43]:
id(stars)

2370943456968

In [44]:
stars=stars+['sol']

In [45]:
stars

['alderaan', 'arcturus', 'polar', 'vega', 'alpha centauri', 'sol']

In [46]:
id(stars)

2370945255432

In [47]:
stars.extend('hoth')
# mirar clase

In [49]:
stars.append('hoth')

In [50]:
stars

['alderaan',
 'arcturus',
 'polar',
 'vega',
 'alpha centauri',
 'sol',
 'h',
 'o',
 't',
 'h',
 'hoth']

In [52]:
stars.insert(2,'death')

In [53]:
stars

['alderaan',
 'arcturus',
 'death',
 'death',
 'polar',
 'vega',
 'alpha centauri',
 'sol',
 'h',
 'o',
 't',
 'h',
 'hoth']

In [54]:
'death' in stars

True

In [56]:
'love' in stars

False

# sorting

In [57]:
stars.reverse()

In [58]:
stars

['hoth',
 'h',
 't',
 'o',
 'h',
 'sol',
 'alpha centauri',
 'vega',
 'polar',
 'death',
 'death',
 'arcturus',
 'alderaan']

In [59]:
stars.reverse()

In [60]:
stars

['alderaan',
 'arcturus',
 'death',
 'death',
 'polar',
 'vega',
 'alpha centauri',
 'sol',
 'h',
 'o',
 't',
 'h',
 'hoth']

In [61]:
stars.sort()

In [62]:
stars

['alderaan',
 'alpha centauri',
 'arcturus',
 'death',
 'death',
 'h',
 'h',
 'hoth',
 'o',
 'polar',
 'sol',
 't',
 'vega']

In [63]:
numbers=[1,3,10,100,70,13,56]

In [64]:
numbers.sort()

In [65]:
numbers

[1, 3, 10, 13, 56, 70, 100]

In [66]:
numbers=[1,3,10,100,70,13,56]

In [67]:
list(sorted(numbers))

[1, 3, 10, 13, 56, 70, 100]

In [69]:
two_types_list=['2','5','10',100,39]

In [70]:
two_types_list.sort()

TypeError: '<' not supported between instances of 'int' and 'str'

In [75]:
strings_numbers_and_letters=['a','A','10','2','40','¡']

In [76]:
strings_numbers_and_letters.sort()

In [77]:
strings_numbers_and_letters

['10', '2', '40', 'A', 'a', '¡']

In [78]:
two_types_list=['2','5','10',100,39]

In [79]:
two_types_list.sort(key=str)
two_types_list

['10', 100, '2', 39, '5']

In [80]:
two_types_list.sort(key=int)
two_types_list

['2', '5', '10', 39, 100]

In [81]:
sorted('hi all')

[' ', 'a', 'h', 'i', 'l', 'l']

Ejercicio: ordenar una lista de palabras por la longitud de la palabra

In [82]:
new_stars=['alderaan', 'arcturus', 'vega', 'hoth', 'dhfjashdfjhdjgj']

In [84]:
new_stars.sort(key=len)
new_stars

['vega', 'hoth', 'alderaan', 'arcturus', 'dhfjashdfjhdjgj']

In [85]:
# alternativa - ordenar al reves
list(sorted(new_stars, key=len, reverse=True))

['dhfjashdfjhdjgj', 'alderaan', 'arcturus', 'vega', 'hoth']

In [86]:
list(sorted(new_stars))

['alderaan', 'arcturus', 'dhfjashdfjhdjgj', 'hoth', 'vega']

# sort by custom functions

In [87]:
def mul_2(x):
    return 2*x

In [88]:
mul_2(3)

6

In [89]:
the_same_function=lambda x: 2*x

In [90]:
the_same_function(3)

6

In [96]:
a_stars=['alderaan','aaaaa','polar','AAArcturusa']

In [93]:
a_stars[0].count('a')

3

In [97]:
a_stars.sort(key=lambda x: x.count('a'), reverse=True)
a_stars

['aaaaa', 'alderaan', 'polar', 'AAArcturusa']

In [98]:
a_stars.sort(key=lambda x: x.lower().count('a'), reverse=True)
a_stars

['aaaaa', 'AAArcturusa', 'alderaan', 'polar']

In [99]:
function=lambda x,y: 2*x*y

In [101]:
function(3,2)

12

In [102]:
for i in a_stars:
    print(i)

aaaaa
AAArcturusa
alderaan
polar

# functions as objects

In [103]:
def add_one(value):
    return value+1
def add_two(value):
    return value+2
def add_three(value):
    return value+3

In [104]:
math_ops=[add_one, add_two, add_three]

In [112]:
def math_values(values,ops):
    result=[]
    for value in values:
        for function in ops:
            new_value=function(value)
            result.append(new_value)
    return result

In [113]:
l=[1,2,3]
math_values(l,math_ops)

[2, 3, 4, 3, 4, 5, 4, 5, 6]

# map

In [114]:
for i in map(add_one,l):
    print(i)

2
3
4

In [115]:
l2=map(add_two,l)

In [117]:
type(l2)

map

In [118]:
list(l2)

[3, 4, 5]

# list comprehensions

In [119]:
range(10)
# genera una lista hasta el numero que le digas

range(0, 10)

In [122]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [123]:
a=list(range(10))

In [158]:
def numeros_pares_cuadrado(numeros):
    lista=[]
    for number in numeros:
        if number%2==0:
            lista.append(number**2)
    return lista

In [159]:
numeros_pares_cuadrado(list(range(10)))

[0, 4, 16, 36, 64]

In [160]:
a2=[value**2 for value in a if value%2==0]

In [161]:
a2

[0, 4, 16, 36, 64]

In [162]:
a3=[value**2 if value%2==0 else 1 for value in a]
# al reves no funciona

In [163]:
a3

[0, 1, 4, 1, 16, 1, 36, 1, 64, 1]

Ejercicio: calcular el cuadrado de los valores de a usando map y lambda

In [167]:
list(map(lambda x: x**2,a))

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [168]:
[add_one(value) for value in a]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [6]:
list_strings=['a','as','ab','dog','python','london','edinburgh']

Ejercicio: Lista en mayusculas de todas las palabras de más de dos caracteres

In [177]:
[palabra.upper() for palabra in list_strings if len(palabra)>2]

['DOG', 'PYTHON', 'LONDON', 'EDINBURGH']

# nested list comprehension

In [178]:
list_of_list=[[1,2,3],[4,5,6],[7,8,9]]

In [179]:
one_list=[]
for other_list in list_of_list:
    for element in other_list:
        one_list.append(element)
one_list

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [181]:
second_list=[element for other_list in list_of_list for element in other_list]
second_list

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [183]:
list_of_list=[[1,2,3],[4,5,6],[7,8,9]]

In [185]:
third_list=[element for other_list in list_of_list if 2 in other_list for element in other_list]
third_list

[1, 2, 3]

Ejercicio: lista con 10 nombres, poner todas las vocales a mayusculas y las demas letras a minusculas

In [8]:
names=['Bob','Igor','Anita','Israel','Thomas','Bill','Ronaldo','Messi']

In [11]:
# mirar clase - este está bien!
lista=[]
for nombres in names:
    nuevo_nombre=''
    for letra in nombres:
        if letra in 'aeiou':
            nuevo_nombre=nuevo_nombre+letra.upper()
        else:
            nuevo_nombre=nuevo_nombre+letra.lower()
    lista.append(nuevo_nombre)

In [10]:
lista

['bOb', 'igOr', 'anItA', 'isrAEl', 'thOmAs', 'bIll', 'rOnAldO', 'mEssI']