In [1]:
tup=4,5,6

In [2]:
tup

(4, 5, 6)

In [3]:
tup2=[4,5,6]

In [4]:
tup2=tuple(tup2)

In [5]:
tup2

(4, 5, 6)

In [6]:
tup3=tuple('string')

In [7]:
tup3

('s', 't', 'r', 'i', 'n', 'g')

In [8]:
tup4=tuple(['string1','string2'])

In [9]:
tup4

('string1', 'string2')

In [10]:
nested_up=(4,5,6),('cosas','mascosas'),('A',7,True)

In [11]:
nested_up

((4, 5, 6), ('cosas', 'mascosas'), ('A', 7, True))

In [12]:
nested_up[0]

(4, 5, 6)

In [13]:
nested_up[:2]

((4, 5, 6), ('cosas', 'mascosas'))

In [15]:
nested_up[2][2]=False

TypeError: 'tuple' object does not support item assignment

In [16]:
nested_lists=([1,2,3],['cosas','mascosas'])

In [17]:
id(nested_lists)

1893990867080

In [19]:
nested_lists[0].append(4)

In [20]:
nested_lists

([1, 2, 3, 4], ['cosas', 'mascosas'])

In [28]:
more_nested_lists=nested_lists+([34,566,777],[453453,4444])+(['como mola','hola'],['adios','bye'])

In [29]:
more_nested_lists

([1, 2, 3, 4],
 ['cosas', 'mascosas'],
 [34, 566, 777],
 [453453, 4444],
 ['como mola', 'hola'],
 ['adios', 'bye'])

In [30]:
more_nested_lists+tuple(['bar'])

([1, 2, 3, 4],
 ['cosas', 'mascosas'],
 [34, 566, 777],
 [453453, 4444],
 ['como mola', 'hola'],
 ['adios', 'bye'],
 'bar')

In [31]:
more_nested_lists+('bar',)
# asi tambien entiende que es una tupla

([1, 2, 3, 4],
 ['cosas', 'mascosas'],
 [34, 566, 777],
 [453453, 4444],
 ['como mola', 'hola'],
 ['adios', 'bye'],
 'bar')

In [32]:
tup4=('bar','taberna','bareto')

In [33]:
tup5=tup4*2

In [34]:
tup5

('bar', 'taberna', 'bareto', 'bar', 'taberna', 'bareto')

In [36]:
a=[1,2,3]; b=[23]; c=50; d=['Txt']; e='ff'
tup6=tuple([a,b,c,d,e])

In [37]:
tup6

([1, 2, 3], [23], 50, ['Txt'], 'ff')

In [38]:
id(e)

1893950580304

In [40]:
id(tup6[4])

1893950580304

In [42]:
a[0]=5; b.append(121212); c=3131; d[0]='cosas'; e='ass'

In [43]:
tup6

([5, 2, 3], [23, 121212], 50, ['cosas'], 'ff')

In [44]:
id(tup6[4])

1893950580304

In [45]:
id(e)

1893947226072

In [46]:
a=[1,2,3]; b=[23]; c=50; d=['Txt']; e='ff'

In [47]:
l=[a,b,c,d,e]

In [48]:
e='ass'

In [49]:
l[4]='ass'

In [50]:
l

[[1, 2, 3], [23], 50, ['Txt'], 'ass']

In [51]:
e

'ass'

# unpacking tuples

In [52]:
tup=(4,5,6)

In [53]:
a,b,c=tup

In [54]:
print(a,b,c)

4 5 6

In [55]:
a,b=tup

ValueError: too many values to unpack (expected 2)

In [56]:
tup2=(4,5,(6,7))
a,b,c=tup2
print(a,b,c)

4 5 (6, 7)

In [57]:
tup2=(4,5,(6,7))
a,b,(c,d)=tup2
print(a,b,c,d)

4 5 6 7

In [58]:
a,b

(4, 5)

In [59]:
b,a=a,b

In [60]:
a,b

(5, 4)

# methods

In [67]:
a=(1,2,2,4,5,6,7)
a.count(2)

2

In [63]:
2 in a

True

In [64]:
20 in a

False

In [65]:
a.index(6)

5

In [70]:
a.index(2)
# sale el primero

1

In [71]:
b=('this','is','in','me')

In [72]:
b.count('i')

0

In [73]:
b.count('in')

1

# función ZIP

In [75]:
seq1=list(range(6))
seq2=(6,7,8,9)
seq3=[True,False,True]

In [78]:
type(zip(seq1,seq2,seq3))
# hay que desempaquetarlo como una tupla

zip

In [79]:
table=tuple(zip(seq1,seq2,seq3))

In [80]:
table

((0, 6, True), (1, 7, False), (2, 8, True))

In [82]:
print(*table)
# le quita la agrupacion superior

(0, 6, True) (1, 7, False) (2, 8, True)

In [83]:
s1,s2,s3=zip(table)

In [84]:
print(s1,s2,s3)

((0, 6, True),) ((1, 7, False),) ((2, 8, True),)

In [85]:
for i in table:
    print(i)

(0, 6, True)
(1, 7, False)
(2, 8, True)

In [86]:
for a,b,c in table:
    print(a)

0
1
2

In [87]:
for i,j in zip(seq1,seq2):
    print(i,j)

0 6
1 7
2 8
3 9

# enumerate

In [88]:
c=0
for val in range(10,20):
    print(c,val)
    c+=1

0 10
1 11
2 12
3 13
4 14
5 15
6 16
7 17
8 18
9 19

In [89]:
for c, val in enumerate(range(10,20)):
    print(c,val)

0 10
1 11
2 12
3 13
4 14
5 15
6 16
7 17
8 18
9 19

In [90]:
for c,(i,j) in enumerate(zip(seq1,seq2)):
    print('index: ', c, ' values:',i,j)

index:  0  values: 0 6
index:  1  values: 1 7
index:  2  values: 2 8
index:  3  values: 3 9

In [92]:
for c, val in enumerate(reversed(range(10,20))):
    print(c,val)

0 19
1 18
2 17
3 16
4 15
5 14
6 13
7 12
8 11
9 10

Ejercicio: Crear una función que devuelva la palabra más larga de una lista de palabras

In [94]:
l=['nucelar','chernobil','homer']

In [97]:
l.sort(key=len, reverse=True)

In [99]:
l[0]

'chernobil'

In [101]:
def find_longest_word(word_list):
    aux=0
    for word in word_list:
        if len(word) > aux:
            aux=len(word)
            max_word=word
    return max_word

In [102]:
find_longest_word(l)

'chernobil'

In [108]:
def find_longest_word2(word_list):
    aux=[]
    for index,word in enumerate(word_list):
        aux.append((len(word),index))
    return word_list[max(aux)[1]]

In [106]:
find_longest_word2(l)

'chernobil'

In [114]:
def find_longest_word3(word_list):
    aux=[]
    for index,word in enumerate(word_list):
        aux.append((len(word),word))
        aux.sort(key=lambda x: x[0],reverse=True)
    return aux[0]

In [115]:
find_longest_word3(l)

(9, 'chernobil')